 * {
     box-sizing: border-box;
 }

 body {
     margin: 0;
     padding: 0;
     font-family: sans-serif;
     background-color: #171717;
 }

 h1 {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 3rem;
     color: white;
 }

 h4 {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.5rem;
     color: white;
     margin-bottom: 1rem;
 }


 .sites {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     max-width: 60rem;
     width: 90%;
     margin: 2rem auto;
     animation: sites-appear 1s ease-out forwards;
 }

 .sites ul {
     list-style: none;
     margin: 0;
     padding: 0;
     animation: sites-appear 1s ease-out forwards;

 }

 @keyframes sites-appear {
     from {
         opacity: 0;
         transform: translateY(3rem);
     }

     to {
         opacity: 1;
         transform: translateY(0);
     }
 }

 .site {
     display: flex;
     justify-content: space-between;
     padding-bottom: 1rem;
     align-items: flex-start;
     min-width: 30rem;
     padding: 2rem;
     margin-bottom: 1rem;
 }

 .site h3 {
     font-size: 1.5rem;
     margin: 0 0 0.25rem 0;
     padding-bottom: 0.8rem;
     padding-right: 2rem;
 }

 .id {
     font-size: 1.2rem;
     margin: 0 0 0.25rem 0;
     padding-bottom: 0.8rem;
 }

 .siteUrl {
     margin-bottom: 1rem;
 }

 .url {
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     text-decoration: none;
     border: 1px solid darkslategray;
     border-radius: 8px;
     padding: 8px;
     background: darkslategray;
     max-width: 15rem;
     font-size: 1.2rem;
 }

 .subData {
     display: none;
     margin-top: 0.25rem;
 }

 .subData.visible {
     display: block;
 }

 .card {
     padding: 1rem;
     box-shadow: 0 2px 8px rgba (0, 0, 0, 0.25);
     border-radius: 14px;
     background-color: white;
     margin-bottom: 1rem;
     width: 70rem;
     margin: 1rem;
 }

 .button {
     font: inherit;
     border: 1px solid #001288;
     background: #001288;
     color: white;
     padding: 1rem 1rem;
     cursor: pointer;
     font-size: 1.15rem;
     border-radius: 10px;
     text-align: center;
     width: 8rem;
     min-width: 8rem;
 }

 .button:hover,
 .button:active {
     background: #000c5a;
     border-color: #000c5a;
 }

 .button:focus {
     outline: none;
 }